@model RateItWebApi.Models.CommentListModel

@for (int i = 0; i < Model.Comments.Count(); i++)
{
    @Html.Partial("_Comment", Model.Comments[i])
}
@if (Model.Comments.Count() > 0 && (Model.Page * Model.PerPage) < Model.Comments.Count())
{
    <div class="load-more-btn main" loadmore-been="false">
        <a href="#" value="page-comment">
            <i class="material-icons std-btn-icon">arrow_downward</i>Load More Comments
        </a>
    </div>
}