@model RateItWebApi.Models.AppModel

<div id="cw-content-bar-2033295929" class="cw-content-bar">
    <span id="cw-chat" class="section-button">
        <i class="fa fa-comment tab-icons"></i>
    </span>
    <span id="cw-profile" class="section-button">
        <i class="fa fa-user tab-icons"></i>
    </span>
    <span id="cw-settings" class="section-button">
        <i class="fa fa-cog tab-icons"></i>
    </span>
    <span id="cw-stats" class="section-button">
        <i class="fa fa-bar-chart tab-icons"></i>
    </span>
    <div id="cw-ratings-2033295929" class="cw-ratings">
        <div id="cw-ratings-box-2033295929" class="cw-ratings-box"></div>
        <div id="cw-ratings-text-2033295929" class="cw-ratings-text"></div>
        <div class="post-btn rate-btn" type="button" value="Rate"><span class="rate-text">Rate</span></div>
        <div id="star-ratings-css" class="star-ratings-css">
            <div class="star-ratings-css-top" style="width:65%;"><span class="star">★</span><span class="star">★</span><span class="star">★</span><span class="star">★</span><span class="star">★</span></div>
            <div id="star-ratings-css-bottom" class="star-ratings-css-bottom"><span class="star">★</span><span class="star">★</span><span class="star">★</span><span class="star">★</span><span class="star">★</span></div>
        </div>
    </div>
</div>