@model RateItWebApi.Models.AppModel

<div id="ri-moc-section_1" class="ri-moc-section" style="display: none;">
    <div id="moc-ctrl-hldr1" class="moc-ctrl-hldr">
        <div id="moc-ctrl-amt1" class="moc-ctrl-amt"><input id="moc-amt-ta_1" type="text" class="moc-amt-ta" placeholder="Amount.."><span class="moc-amt std-btn">Buy</span></div>
        <div id="moc-ctrl-buy1" class="moc-ctrl-buy"></div>
        <div id="moc-ctrl-withdraw1" class="moc-ctrl-withdraw">
            <input id="moc-amt-w-ta_1" type="text" class="moc-amt-w-ta" placeholder="Amount..">
            <select id="moc-acc-dd_1" class="moc-acc-dd">
                <option value="foo">bar</option>
                <option value="foo2">baz</option>
            </select>
            <span class="moc-amt-w std-btn">Withdraw</span>
        </div>
    </div>
    <div id="moc-ctrl-graph1" class="moc-ctrl-graph">
        <select id="moc-dat-dd_1" class="moc-dat-dd">
            <option value="foo">bar</option>
            <option value="foo2">baz</option>
        </select>
        <select id="moc-typ-dd_1" class="moc-typ-dd">
            <option value="foo">bar</option>
            <option value="foo2">baz</option>
        </select>
    </div>
    <div id="mo-over-time_1" class="mo-over-time">
        <canvas width="450" height="180" style="display: inline-block; width: 450px; height: 180px; vertical-align: top;"></canvas>
    </div>
</div>