@model RateItWebApi.Models.AppModel

<div id="ri-profile-section_1" class="ri-profile-section" style="display: none;">
    <span class="profile-pic empty-profile" id="profile-pic_1"><i class="material-icons cam-icon">photo_camera</i></span><span class="last-active" id="last-active_1">Last Active: 10/04/1990</span>
    <div class="logout-btn" type="button" value="Logout">Logout</div>
    <span class="prof-section-top"><span class="email-prof">matt19sharp@gmail.com<i class="material-icons base-icon">email</i></span><span class="overall-rating">Overall Rating: 0<i class="material-icons base-icon str-icon">star_rate</i></span><span class="overall-report">Overall Reported: 1<i class="material-icons base-icon">flag</i></span><span class="overall-rating-count">Overall Rating Count: 4<i class="material-icons base-icon">format_list_numbered</i></span><span class="overall-comment-count">Overall Comment Count: 67<i class="material-icons base-icon">chat</i></span></span><span class="name-prof">Username: <i class="material-icons base-icon">account_circle</i></span><input id="name-prof-tb_1" type="text" class="name-prof-tb" placeholder="Enter Username Here.."><span class="pw-prof">Password: <i class="material-icons base-icon">vpn_key</i></span><input id="pw-prof-tb_1" type="text" class="pw-prof-tb" placeholder="Enter Password Here.."><span class="vis-icon"><i class="material-icons">visibility</i></span><span class="prof-desc-lab">About Me: </span>
    <textarea id="prof-desc_1" placeholder="Enter Text Here.." class="prof-desc-ta"></textarea>
    <div class="update-btn" type="button" value="Update">Update</div>
</div>