@if (Request.IsAuthenticated)
{
   using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @id="logoutForm", @class="navbar-right" }))
    {        
    <div class="user-menu">
        @Html.AntiForgeryToken()
        <span class="user-controls">
            <span class="green-circle"></span>          
            <a href="javascript:document.getElementById('logoutForm').submit()" class="logout">Log off</a>
        </span>
    </div>
    }
}

