
<div class="topbar-menu">
    <span class="map">Home / Dashboard</span>
    <span>
        <svg id="marker" class="user-icon" width="35" height="35"  data-jdenticon-value="user121">
            <title>Mo</title>
        </svg>
    </span>
    <span class="balance-box">   
            Balance: <span id="balance-ph"></span> Mo
    </span>
</div>
<!--Html.MvcSiteMap().Menu(false, true, false)-->